extends layout

block content
	.homepage-hero-module
		.video-container
			.filter
			video(autoplay loop).fillWidth
				source(src="/video/mp4/For_Wes.mp4" type="video/mp4")
				source(src="/video/WEBM/For_Wes.webm" type="video/webm")
			.poster
				img(src="/video/Snapshots/For_Wes.jpg")